<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="INFO">
    <Properties>
        <Property name="LOG_DIR">logs</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} %-5level [%c{2}]  - %msg%n"/>
        </Console>

        <RollingFile name="File" append="true"
        filePattern="${LOG_DIR}/raid-master-%d{dd MMM}.log" >
            <PatternLayout pattern="%d{MMM dd HH:mm:ss} %-5level [%c{2}] - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="86400"/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="TRACE">
            <AppenderRef ref="Console" level="INFO"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>